<div class="row">
  <div class="span8">
    <aside class="span4">
    <h3>Новости</h3>
      <% if user_signed_in? %>
        <div class="container">
          <section>
            <%= render 'shared/micropost_form' %>
          </section>
        </div>
      <% end %>
      <%= render 'shared/feel' %> 
    </aside> 
  </div>
</div>

 