<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row">
  <aside class="span4">
  <h2>Пожалуйста отредактируйте Ваши новости</h2>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>