<header>
    <div class="container">
      <%= link_to "Новости", root_path %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Домашняя страница", root_path %></li>
          <li><%= link_to "Мой профиль", edit_user_registration_path %></li>
          <li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </nav>
    </div>
</header>
